<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Create new account</h2>
            <form action="/signup" method="post">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" id="exampleInputName" name="Name" placeholder="Enter Name">
                </div>
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" name="Email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="Password" placeholder="Password">
                </div>
                <div>
                    <a href="/signup">Already have account ?</a>
                    <button type="submit" class="btn btn-primary float-right">Signup</button>
                </div>

            </form>
        </div>
    </div>
</div>